<!DOCTYPE html>
<html>
<head>
  <title>Motivated ToDo</title>

  <link rel="stylesheet" href="/css/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <a href="/add">Add Item</a>
    <a href="/list">View Items</a>
    <a href="/quote">Motivational Quote</a>
  </nav>

  <main>
